// Sass: @import to be phased out eventually, use @use
@import './mixins.scss';

body {
  overflow: visible;

  .overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  &.body--disabled {
    overflow: hidden;

    .overlay {
      opacity: 1;
    }
  }
}

a, button {
  &:hover {
    cursor: pointer;
  }
}

button {
  margin-right: .5rem;

  &.button--text {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    border: 0;
    padding: .5rem 1rem;
  
    &.button--primary {
      color: black;
      background-color: white;
    }
  
    &.button--secondary {
      color: white;
      background-color: grey;
    }
  
    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }

  &.button--icon {
    @include all-center-content;
    flex: 0 0 34px;
    width: 34px;
    height: 34px;
    background: #4f4f4f;
    border: 3px solid white;
    color: white;
    border-radius: 50%;
    line-height: normal;
    opacity: .8;
    font-size: .95rem;

    &:hover {
      opacity: 1;
    }

    &-light {
      color: black;
      background-color: white;
    }
  }
}

[class*="__actions"] {
  margin-bottom: 1rem;
}