body {
  background: #262626;
  color: white;
}

.movie-cards {
  &__wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  &__group-container {
    width: 100%;

    &:hover {
      .movie-cards__pages {
        visibility: visible;
      }
    }
  }

  &__slider-container {
    display: flex;
    position: relative;
    margin: 0 auto;

    &:hover {
      .movie-cards__scroll {
        visibility: visible;
      }
    }
  }

  &__category {
    text-align: left;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    a {
      &:link, &:visited, &:hover, &:active {
        color: white;
      }
    }
  }

  &__pages {
    display: flex;
    visibility: hidden;

    &-item {
      width: 2rem;
      height: .5rem;
      background-color: #4f4f4f;
      margin: 0 .25rem;

      &--active {
        background-color: whitesmoke;
      }
    }
  }


  &__slider {
    --slider-index: 0;
    width: 100%;
    display: flex;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 350ms ease-in-out;
  }

  &__scroll {
    visibility: hidden;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    transition: font-size 100ms ease;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      font-size: 6rem;
    }

    &--left {
      left: -3rem;
    }

    &--right {
      right: -2.4rem;
    }
  }
}

.movie-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 25%;
  height: 325px;
  max-width: 25%;

  &__details {
    position: absolute;
    background: #141414;
    border-radius: 1rem;
    overflow: hidden;
    color: white;
    margin: 0 auto;
    padding-bottom: 1rem;
    transform: scale(0);
    text-align: left;
    z-index: 101;

    > img {
      max-width: 100%;
    }
  }

  &:hover {
    .movie-card__details {
      transform: scale(1);
      transition: transform 200ms ease-in-out;
    }
  }

  &__info {
    padding: 0 1em;
  }

  &__media {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;

    > div {
      display: flex;
      flex: 0 0 40px;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border: 2px solid white;
      border-radius: 50%;
      line-height: normal;
    }

    &--add {
      font-size: 2rem;
    }

    &--like {
      font-size: 1rem;
    }
  }

  > img {
    transform: scale(0.98);
    max-width: 100%;
    max-height: 100%;
  }
}

.overlay {
  z-index: 101;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  &--active {
    display: flex;
  }
}

.modal {
  background: white;
  width: 50vw;
  height: 50vh;

  h3 {
    color: black;
  }
}