.overlay {
  z-index: 101;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: transform 100ms ease, opacity 400ms ease;
  background-color: rgba(0, 0, 0, 0.5);
  
  &--active {
    opacity: 1;
    transform: scale(1);
  }

  .button--icon-close {
    position: absolute;
    top: 1rem;
    right: .5rem;
    border: 0;
    
    &:active {
      border: 3px solid white;
    }
  }
}

.modal {
  text-align: left;
  color: white;
  position: relative;
  border-radius: 1rem;
  background: #262626;
  width: 80%;

  .movie__details {
    padding: 1rem;
  }

  .movie__actions {
    display: flex;
    justify-items: flex-start;
  }

  .movie__ratings {
    strong {
      color: greenyellow;
    }
  }

  .movie__info {
    display: flex;
    justify-content: space-between;

    > div {
      flex: 0 0 60%;

      &:nth-child(2) {
        margin-left: 1rem;
        flex: 0 0 calc(40% - 1rem);
      }
    }

    strong {
      color: #696969;
    }
  }

  img {
    width: 100%;
  }
}